<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
				<h3>About {{name}}</h3>
				<p>Aphees is a software developer at Riktam Technologies. He works on nodejs projects.</p>
				<p>Copyright &copy; 2019</p>
				</div>
				<div class="col-md-6">
					<br><br>
					<ul class="list-unstyled">
						<li><a href="/about">About</a></li>
						<li><a href="/help">Contact</a></li>
						<li><a href="/help">Help</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer c>